<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Doctor Sign In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header th:replace="header.html :: top"></header>
<div class="content">
<form method="get" action="doctor">
    <fieldset>
        <label for="name">Your doctor's name: </label>
        <input id="name" name="name" type="text" placeholder="John Doe">
        <hr>
        <label for="number">Your doctor's number: </label>
        <input id="number" name="number" type="number" placeholder="13">
        <hr>
        <input class="btn" type="submit" value="Sign In">
    </fieldset>
</form>
</div>
<footer th:replace="footer.html :: footer"></footer>
</body>
</html>
